#gallery {width: 660px; margin: 0 auto;}
#gallery ul {padding-left: 10px;}
#gallery li {display: inline; margin-right: 3px;}
#gallery #main-img {background: url(../JS/New%20folder%20(3)/bg_img.png) no-repeat 0 0; padding: 26px;}